body{
    text-align: center;
    font-family: monospace, monospace;
    font-size: 45px;
    margin: 10px;
}

button {
    height: 80px;
    width: 400px;
    background-color: #e8e6e3;
    text-align: center;
    color: #2c2921;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-width: 8px;
}

button:hover {
    height: 80px;
    width: 400px;
    background-color: #2c2921;
    text-align: center;
    color: #e8e6e3;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-color: #e8e6e3;
    border-width: 8px;
}

.buttonLeft{
      position: relative;
     right: 40%;
     text-decoration: none;
     display: inline-block;
}

.buttonRight{
     position: relative;
     left: 40%;
     text-decoration: none;
     display: inline-block;
}

.logoDiv{
    color: #dddddd;
    position: relative;
    font-family: monospace, monospace;
    font-size: 45px;
    border-style: outset outset outset outset;
    border-radius: 7px;
    text-align: center;
    letter-spacing: 15px;
    border-color: #dddddd;
    border-width: 5px;
    top: 50px;
    width: 420px;
    margin: auto;
}

.finisherDiv{
   color: #dddddd;
    position: relative;
    font-family: monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-radius: 7px;
    text-align: center;
    letter-spacing: 15px;
    border-color: #dddddd;
    border-width: 5px;
    top: 96px;
    width: 96px;
    margin: auto; 
}

.whiteSmall{
    color: #dddddd;
    font-size: 18;
}

.divRight{
    position: relative;
     left: 40%;
     text-decoration: none;
     display: inline-block;
}

.white{
    color: #dddddd;
}

.completionPara {
     position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.largerButton {
    height: 110px;
    width: 400px;
    background-color: #e8e6e3;
    text-align: center;
    color: #2c2921;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-width: 8px;
}

.largerButton:hover {
    height: 110px;
    width: 400px;
    background-color: #2c2921;
    text-align: center;
    color: #e8e6e3;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-color: #e8e6e3;
    border-width: 8px;
}

.levelDiv {
    height: 50px;
    width: 150px;
    background-color: #e8e6e3;
    text-align: center;
    color: #2c2921;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-width: 8px;
    right: 50%;
}

.levelDiv:hover {
    height: 50px;
    width: 150px;
    background-color: #2c2921;
    text-align: center;
    color: #e8e6e3;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-width: 8px;
    position: relative 
    right: 50%;
}

.hidden {
    visibility: hidden;
}

.contentDiv {
    width: 100%;
    text-align: center;
}

.starterDiv{
    text-align: center;
}

.starterButton {
    height: 50px;
    width: 150px;
    background-color: #2c2921;
    text-align: center;
    color: #e8e6e3;
    border-radius: 5px;
    font-family:  monospace, monospace;
    font-size: 25px;
    border-style: outset outset outset outset;
    border-width: 8px;
    position: relative 
    right: 50%;
}
